<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.BusTripInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.BusTripInfoPO" id="BusTripInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tripSerial" column="trip_serial" jdbcType="VARCHAR"/>
        <result property="fromCity" column="from_city" jdbcType="VARCHAR"/>
        <result property="fromCityId" column="from_city_id" jdbcType="INTEGER"/>
        <result property="toCityId" column="to_city_id" jdbcType="INTEGER"/>
        <result property="toCity" column="to_city" jdbcType="VARCHAR"/>
        <result property="startLatlon" column="start_latlon" jdbcType="VARCHAR"/>
        <result property="fromPlace" column="from_place" jdbcType="VARCHAR"/>
        <result property="startAddress" column="start_address" jdbcType="VARCHAR"/>
        <result property="endLatlon" column="end_latlon" jdbcType="VARCHAR"/>
        <result property="toPlace" column="to_place" jdbcType="VARCHAR"/>
        <result property="endAddress" column="end_address" jdbcType="VARCHAR"/>
        <result property="startDateTime" column="start_date_time" jdbcType="TIMESTAMP"/>
        <result property="endDateTime" column="end_date_time" jdbcType="TIMESTAMP"/>
        <result property="bothTime" column="both_time" jdbcType="VARCHAR"/>
        <result property="departureStation" column="departure_station" jdbcType="VARCHAR"/>
        <result property="departureStationCode" column="departure_station_code" jdbcType="VARCHAR"/>
        <result property="arrivalStation" column="arrival_station" jdbcType="VARCHAR"/>
        <result property="arrivalStationCode" column="arrival_station_code" jdbcType="VARCHAR"/>
        <result property="scheduleNo" column="schedule_no" jdbcType="VARCHAR"/>
        <result property="busNo" column="bus_no" jdbcType="VARCHAR"/>
        <result property="transportType" column="transport_type" jdbcType="VARCHAR"/>
        <result property="scheduleId" column="schedule_id" jdbcType="VARCHAR"/>
        <result property="serviceChargeId" column="service_charge_id" jdbcType="INTEGER"/>
        <result property="serviceChargeType" column="service_charge_type" jdbcType="VARCHAR"/>
        <result property="runningSchFlag" column="running_sch_flag" jdbcType="INTEGER"/>
        <result property="canRefund" column="can_refund" jdbcType="INTEGER"/>
        <result property="refundBeforeDepart" column="refund_before_depart" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BusTripInfoMap">
        select
          id, trip_serial, from_city, from_city_id, to_city_id, to_city, start_latlon, from_place, start_address, end_latlon, to_place, end_address, start_date_time, end_date_time, both_time, departure_station, departure_station_code, arrival_station, arrival_station_code, schedule_no, bus_no, transport_type, schedule_id, service_charge_id, service_charge_type, running_sch_flag, can_refund, refund_before_depart, create_date, create_user, update_date, update_user
        from union_order.bus_trip_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BusTripInfoMap">
        select
          id, trip_serial, from_city, from_city_id, to_city_id, to_city, start_latlon, from_place, start_address, end_latlon, to_place, end_address, start_date_time, end_date_time, both_time, departure_station, departure_station_code, arrival_station, arrival_station_code, schedule_no, bus_no, transport_type, schedule_id, service_charge_id, service_charge_type, running_sch_flag, can_refund, refund_before_depart, create_date, create_user, update_date, update_user
        from union_order.bus_trip_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BusTripInfoMap">
        select
          id, trip_serial, from_city, from_city_id, to_city_id, to_city, start_latlon, from_place, start_address, end_latlon, to_place, end_address, start_date_time, end_date_time, both_time, departure_station, departure_station_code, arrival_station, arrival_station_code, schedule_no, bus_no, transport_type, schedule_id, service_charge_id, service_charge_type, running_sch_flag, can_refund, refund_before_depart, create_date, create_user, update_date, update_user
        from union_order.bus_trip_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                and trip_serial = #{tripSerial}
            </if>
            <if test="fromCity != null and fromCity != ''">
                and from_city = #{fromCity}
            </if>
            <if test="fromCityId != null">
                and from_city_id = #{fromCityId}
            </if>
            <if test="toCityId != null">
                and to_city_id = #{toCityId}
            </if>
            <if test="toCity != null and toCity != ''">
                and to_city = #{toCity}
            </if>
            <if test="startLatlon != null and startLatlon != ''">
                and start_latlon = #{startLatlon}
            </if>
            <if test="fromPlace != null and fromPlace != ''">
                and from_place = #{fromPlace}
            </if>
            <if test="startAddress != null and startAddress != ''">
                and start_address = #{startAddress}
            </if>
            <if test="endLatlon != null and endLatlon != ''">
                and end_latlon = #{endLatlon}
            </if>
            <if test="toPlace != null and toPlace != ''">
                and to_place = #{toPlace}
            </if>
            <if test="endAddress != null and endAddress != ''">
                and end_address = #{endAddress}
            </if>
            <if test="startDateTime != null">
                and start_date_time = #{startDateTime}
            </if>
            <if test="endDateTime != null">
                and end_date_time = #{endDateTime}
            </if>
            <if test="bothTime != null and bothTime != ''">
                and both_time = #{bothTime}
            </if>
            <if test="departureStation != null and departureStation != ''">
                and departure_station = #{departureStation}
            </if>
            <if test="departureStationCode != null and departureStationCode != ''">
                and departure_station_code = #{departureStationCode}
            </if>
            <if test="arrivalStation != null and arrivalStation != ''">
                and arrival_station = #{arrivalStation}
            </if>
            <if test="arrivalStationCode != null and arrivalStationCode != ''">
                and arrival_station_code = #{arrivalStationCode}
            </if>
            <if test="scheduleNo != null and scheduleNo != ''">
                and schedule_no = #{scheduleNo}
            </if>
            <if test="busNo != null and busNo != ''">
                and bus_no = #{busNo}
            </if>
            <if test="transportType != null and transportType != ''">
                and transport_type = #{transportType}
            </if>
            <if test="scheduleId != null and scheduleId != ''">
                and schedule_id = #{scheduleId}
            </if>
            <if test="serviceChargeId != null">
                and service_charge_id = #{serviceChargeId}
            </if>
            <if test="serviceChargeType != null and serviceChargeType != ''">
                and service_charge_type = #{serviceChargeType}
            </if>
            <if test="runningSchFlag != null">
                and running_sch_flag = #{runningSchFlag}
            </if>
            <if test="canRefund != null">
                and can_refund = #{canRefund}
            </if>
            <if test="refundBeforeDepart != null">
                and refund_before_depart = #{refundBeforeDepart}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.bus_trip_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial,
            </if>
            <if test="fromCity != null and fromCity != ''">
                from_city,
            </if>
            <if test="fromCityId != null">
                from_city_id,
            </if>
            <if test="toCityId != null">
                to_city_id,
            </if>
            <if test="toCity != null and toCity != ''">
                to_city,
            </if>
            <if test="startLatlon != null and startLatlon != ''">
                start_latlon,
            </if>
            <if test="fromPlace != null and fromPlace != ''">
                from_place,
            </if>
            <if test="startAddress != null and startAddress != ''">
                start_address,
            </if>
            <if test="endLatlon != null and endLatlon != ''">
                end_latlon,
            </if>
            <if test="toPlace != null and toPlace != ''">
                to_place,
            </if>
            <if test="endAddress != null and endAddress != ''">
                end_address,
            </if>
            <if test="startDateTime != null">
                start_date_time,
            </if>
            <if test="endDateTime != null">
                end_date_time,
            </if>
            <if test="bothTime != null and bothTime != ''">
                both_time,
            </if>
            <if test="departureStation != null and departureStation != ''">
                departure_station,
            </if>
            <if test="departureStationCode != null and departureStationCode != ''">
                departure_station_code,
            </if>
            <if test="arrivalStation != null and arrivalStation != ''">
                arrival_station ,
            </if>
            <if test="arrivalStationCode != null and arrivalStationCode != ''">
                arrival_station_code ,
            </if>
            <if test="scheduleNo != null and scheduleNo != ''">
                schedule_no ,
            </if>
            <if test="busNo != null and busNo != ''">
                bus_no ,
            </if>
            <if test="transportType != null and transportType != ''">
                transport_type ,
            </if>
            <if test="scheduleId != null and scheduleId != ''">
                schedule_id ,
            </if>
            <if test="serviceChargeId != null">
                service_charge_id ,
            </if>
            <if test="serviceChargeType != null and serviceChargeType != ''">
                service_charge_type ,
            </if>
            <if test="runningSchFlag != null">
                running_sch_flag ,
            </if>
            <if test="canRefund != null">
                can_refund ,
            </if>
            <if test="refundBeforeDepart != null">
                refund_before_depart ,
            </if>

                create_date ,

            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tripSerial != null and tripSerial != ''">
                #{tripSerial},
            </if>
            <if test="fromCity != null and fromCity != ''">
                #{fromCity},
            </if>
            <if test="fromCityId != null">
                #{fromCityId},
            </if>
            <if test="toCityId != null">
               #{toCityId},
            </if>
            <if test="toCity != null and toCity != ''">
                #{toCity},
            </if>
            <if test="startLatlon != null and startLatlon != ''">
                 #{startLatlon},
            </if>
            <if test="fromPlace != null and fromPlace != ''">
                #{fromPlace},
            </if>
            <if test="startAddress != null and startAddress != ''">
                #{startAddress},
            </if>
            <if test="endLatlon != null and endLatlon != ''">
                 #{endLatlon},
            </if>
            <if test="toPlace != null and toPlace != ''">
                #{toPlace},
            </if>
            <if test="endAddress != null and endAddress != ''">
                #{endAddress},
            </if>
            <if test="startDateTime != null">
                #{startDateTime},
            </if>
            <if test="endDateTime != null">
                #{endDateTime},
            </if>
            <if test="bothTime != null and bothTime != ''">
                #{bothTime},
            </if>
            <if test="departureStation != null and departureStation != ''">
                #{departureStation},
            </if>
            <if test="departureStationCode != null and departureStationCode != ''">
                #{departureStationCode},
            </if>
            <if test="arrivalStation != null and arrivalStation != ''">
                #{arrivalStation},
            </if>
            <if test="arrivalStationCode != null and arrivalStationCode != ''">
                #{arrivalStationCode},
            </if>
            <if test="scheduleNo != null and scheduleNo != ''">
                #{scheduleNo},
            </if>
            <if test="busNo != null and busNo != ''">
                #{busNo},
            </if>
            <if test="transportType != null and transportType != ''">
                #{transportType},
            </if>
            <if test="scheduleId != null and scheduleId != ''">
                #{scheduleId},
            </if>
            <if test="serviceChargeId != null">
                #{serviceChargeId},
            </if>
            <if test="serviceChargeType != null and serviceChargeType != ''">
                #{serviceChargeType},
            </if>
            <if test="runningSchFlag != null">
                #{runningSchFlag},
            </if>
            <if test="canRefund != null">
                #{canRefund},
            </if>
            <if test="refundBeforeDepart != null">
                #{refundBeforeDepart},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createDate == null">
                now(),
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                #{updateUser},
            </if>
        </trim>

</insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.bus_trip_info
        <set>
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial = #{tripSerial},
            </if>
            <if test="fromCity != null and fromCity != ''">
                from_city = #{fromCity},
            </if>
            <if test="fromCityId != null">
                from_city_id = #{fromCityId},
            </if>
            <if test="toCityId != null">
                to_city_id = #{toCityId},
            </if>
            <if test="toCity != null and toCity != ''">
                to_city = #{toCity},
            </if>
            <if test="startLatlon != null and startLatlon != ''">
                start_latlon = #{startLatlon},
            </if>
            <if test="fromPlace != null and fromPlace != ''">
                from_place = #{fromPlace},
            </if>
            <if test="startAddress != null and startAddress != ''">
                start_address = #{startAddress},
            </if>
            <if test="endLatlon != null and endLatlon != ''">
                end_latlon = #{endLatlon},
            </if>
            <if test="toPlace != null and toPlace != ''">
                to_place = #{toPlace},
            </if>
            <if test="endAddress != null and endAddress != ''">
                end_address = #{endAddress},
            </if>
            <if test="startDateTime != null">
                start_date_time = #{startDateTime},
            </if>
            <if test="endDateTime != null">
                end_date_time = #{endDateTime},
            </if>
            <if test="bothTime != null and bothTime != ''">
                both_time = #{bothTime},
            </if>
            <if test="departureStation != null and departureStation != ''">
                departure_station = #{departureStation},
            </if>
            <if test="departureStationCode != null and departureStationCode != ''">
                departure_station_code = #{departureStationCode},
            </if>
            <if test="arrivalStation != null and arrivalStation != ''">
                arrival_station = #{arrivalStation},
            </if>
            <if test="arrivalStationCode != null and arrivalStationCode != ''">
                arrival_station_code = #{arrivalStationCode},
            </if>
            <if test="scheduleNo != null and scheduleNo != ''">
                schedule_no = #{scheduleNo},
            </if>
            <if test="busNo != null and busNo != ''">
                bus_no = #{busNo},
            </if>
            <if test="transportType != null and transportType != ''">
                transport_type = #{transportType},
            </if>
            <if test="scheduleId != null and scheduleId != ''">
                schedule_id = #{scheduleId},
            </if>
            <if test="serviceChargeId != null">
                service_charge_id = #{serviceChargeId},
            </if>
            <if test="serviceChargeType != null and serviceChargeType != ''">
                service_charge_type = #{serviceChargeType},
            </if>
            <if test="runningSchFlag != null">
                running_sch_flag = #{runningSchFlag},
            </if>
            <if test="canRefund != null">
                can_refund = #{canRefund},
            </if>
            <if test="refundBeforeDepart != null">
                refund_before_depart = #{refundBeforeDepart},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.bus_trip_info where id = #{id}
    </delete>

</mapper>
