<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.PayOrderInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.PayOrderInfoPO" id="PayOrderInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="unionPayOrderNo" column="union_pay_order_no" jdbcType="VARCHAR"/>
        <result property="mainOrderNo" column="main_order_no" jdbcType="VARCHAR"/>
        <result property="childOrderNo" column="child_order_no" jdbcType="VARCHAR"/>
        <result property="childOrderType" column="child_order_type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="payFailReason" column="pay_fail_reason" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="NUMERIC"/>
        <result property="paySerialNo" column="pay_serial_no" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PayOrderInfoMap">
        select
          id, union_pay_order_no, main_order_no, child_order_no, child_order_type, status, pay_fail_reason, amount, pay_serial_no, create_date, create_user, update_date, update_user
        from union_order.pay_order_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PayOrderInfoMap">
        select
          id, union_pay_order_no, main_order_no, child_order_no, child_order_type, status, pay_fail_reason, amount, pay_serial_no, create_date, create_user, update_date, update_user
        from union_order.pay_order_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PayOrderInfoMap">
        select
          id, union_pay_order_no, main_order_no, child_order_no, child_order_type, status, pay_fail_reason, amount, pay_serial_no, create_date, create_user, update_date, update_user
        from union_order.pay_order_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="unionPayOrderNo != null and unionPayOrderNo != ''">
                and union_pay_order_no = #{unionPayOrderNo}
            </if>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                and main_order_no = #{mainOrderNo}
            </if>
            <if test="childOrderNo != null and childOrderNo != ''">
                and child_order_no = #{childOrderNo}
            </if>
            <if test="childOrderType != null">
                and child_order_type = #{childOrderType}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="payFailReason != null and payFailReason != ''">
                and pay_fail_reason = #{payFailReason}
            </if>
            <if test="amount != null">
                and amount = #{amount}
            </if>
            <if test="paySerialNo != null and paySerialNo != ''">
                and pay_serial_no = #{paySerialNo}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.pay_order_info(union_pay_order_no, main_order_no, child_order_no, child_order_type, status, pay_fail_reason, amount, pay_serial_no, create_date, create_user, update_date, update_user)
        values (#{unionPayOrderNo}, #{mainOrderNo}, #{childOrderNo}, #{childOrderType}, #{status}, #{payFailReason}, #{amount}, #{paySerialNo}, #{createDate}, #{createUser}, #{updateDate}, #{updateUser})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.pay_order_info
        <set>
            <if test="unionPayOrderNo != null and unionPayOrderNo != ''">
                union_pay_order_no = #{unionPayOrderNo},
            </if>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                main_order_no = #{mainOrderNo},
            </if>
            <if test="childOrderNo != null and childOrderNo != ''">
                child_order_no = #{childOrderNo},
            </if>
            <if test="childOrderType != null">
                child_order_type = #{childOrderType},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="payFailReason != null and payFailReason != ''">
                pay_fail_reason = #{payFailReason},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="paySerialNo != null and paySerialNo != ''">
                pay_serial_no = #{paySerialNo},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.pay_order_info where id = #{id}
    </delete>

</mapper>
