<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.TrainTripInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.TrainTripInfoPO" id="TrainTripInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tripSerial" column="trip_serial" jdbcType="VARCHAR"/>
        <result property="trainNo" column="train_no" jdbcType="VARCHAR"/>
        <result property="seatClass" column="seat_class" jdbcType="INTEGER"/>
        <result property="startStationCode" column="start_station_code" jdbcType="VARCHAR"/>
        <result property="startStationName" column="start_station_name" jdbcType="VARCHAR"/>
        <result property="startStationState" column="start_station_state" jdbcType="INTEGER"/>
        <result property="endStationCode" column="end_station_code" jdbcType="VARCHAR"/>
        <result property="endStationName" column="end_station_name" jdbcType="VARCHAR"/>
        <result property="endStationState" column="end_station_state" jdbcType="INTEGER"/>
        <result property="placeOrderForNight" column="place_order_for_night" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="bindPhone" column="bind_phone" jdbcType="VARCHAR"/>
        <result property="chooseSeats" column="choose_seats" jdbcType="VARCHAR"/>
        <result property="acceptnoseat" column="acceptnoseat" jdbcType="INTEGER"/>
        <result property="grabEndTime" column="grab_end_time" jdbcType="TIMESTAMP"/>
        <result property="beginSaleTime" column="begin_sale_time" jdbcType="VARCHAR"/>
        <result property="selfSelect" column="self_select" jdbcType="INTEGER"/>
        <result property="fromCity" column="from_city" jdbcType="VARCHAR"/>
        <result property="toCity" column="to_city" jdbcType="VARCHAR"/>
        <result property="startDateTime" column="start_date_time" jdbcType="TIMESTAMP"/>
        <result property="endDateTime" column="end_date_time" jdbcType="TIMESTAMP"/>
        <result property="fromCityId" column="from_city_id" jdbcType="INTEGER"/>
        <result property="toCityId" column="to_city_id" jdbcType="INTEGER"/>
        <result property="trafficNo" column="traffic_no" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TrainTripInfoMap">
        select
          id, trip_serial, train_no, seat_class, start_station_code, start_station_name, start_station_state, end_station_code, end_station_name, end_station_state, place_order_for_night, user_name, password, bind_phone, choose_seats, acceptnoseat, grab_end_time, begin_sale_time, self_select, from_city, to_city, start_date_time, end_date_time, from_city_id, to_city_id, traffic_no, create_date, create_user, update_date, update_user
        from union_order.train_trip_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TrainTripInfoMap">
        select
          id, trip_serial, train_no, seat_class, start_station_code, start_station_name, start_station_state, end_station_code, end_station_name, end_station_state, place_order_for_night, user_name, password, bind_phone, choose_seats, acceptnoseat, grab_end_time, begin_sale_time, self_select, from_city, to_city, start_date_time, end_date_time, from_city_id, to_city_id, traffic_no, create_date, create_user, update_date, update_user
        from union_order.train_trip_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TrainTripInfoMap">
        select
          id, trip_serial, train_no, seat_class, start_station_code, start_station_name, start_station_state, end_station_code, end_station_name, end_station_state, place_order_for_night, user_name, password, bind_phone, choose_seats, acceptnoseat, grab_end_time, begin_sale_time, self_select, from_city, to_city, start_date_time, end_date_time, from_city_id, to_city_id, traffic_no, create_date, create_user, update_date, update_user
        from union_order.train_trip_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                and trip_serial = #{tripSerial}
            </if>
            <if test="trainNo != null and trainNo != ''">
                and train_no = #{trainNo}
            </if>
            <if test="seatClass != null">
                and seat_class = #{seatClass}
            </if>
            <if test="startStationCode != null and startStationCode != ''">
                and start_station_code = #{startStationCode}
            </if>
            <if test="startStationName != null and startStationName != ''">
                and start_station_name = #{startStationName}
            </if>
            <if test="startStationState != null">
                and start_station_state = #{startStationState}
            </if>
            <if test="endStationCode != null and endStationCode != ''">
                and end_station_code = #{endStationCode}
            </if>
            <if test="endStationName != null and endStationName != ''">
                and end_station_name = #{endStationName}
            </if>
            <if test="endStationState != null">
                and end_station_state = #{endStationState}
            </if>
            <if test="placeOrderForNight != null">
                and place_order_for_night = #{placeOrderForNight}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="bindPhone != null and bindPhone != ''">
                and bind_phone = #{bindPhone}
            </if>
            <if test="chooseSeats != null and chooseSeats != ''">
                and choose_seats = #{chooseSeats}
            </if>
            <if test="acceptnoseat != null">
                and acceptnoseat = #{acceptnoseat}
            </if>
            <if test="grabEndTime != null">
                and grab_end_time = #{grabEndTime}
            </if>
            <if test="beginSaleTime != null and beginSaleTime != ''">
                and begin_sale_time = #{beginSaleTime}
            </if>
            <if test="selfSelect != null">
                and self_select = #{selfSelect}
            </if>
            <if test="fromCity != null and fromCity != ''">
                and from_city = #{fromCity}
            </if>
            <if test="toCity != null and toCity != ''">
                and to_city = #{toCity}
            </if>
            <if test="startDateTime != null">
                and start_date_time = #{startDateTime}
            </if>
            <if test="endDateTime != null">
                and end_date_time = #{endDateTime}
            </if>
            <if test="fromCityId != null">
                and from_city_id = #{fromCityId}
            </if>
            <if test="toCityId != null">
                and to_city_id = #{toCityId}
            </if>
            <if test="trafficNo != null and trafficNo != ''">
                and traffic_no = #{trafficNo}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.train_trip_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial,
            </if>
            <if test="trainNo != null and trainNo != ''">
                train_no,
            </if>
            <if test="seatClass != null">
                seat_class,
            </if>
            <if test="startStationCode != null and startStationCode != ''">
                start_station_code,
            </if>
            <if test="startStationName != null and startStationName != ''">
                start_station_name,
            </if>
            <if test="startStationState != null">
                start_station_state ,
            </if>
            <if test="endStationCode != null and endStationCode != ''">
                end_station_code ,
            </if>
            <if test="endStationName != null and endStationName != ''">
                end_station_name ,
            </if>
            <if test="endStationState != null">
                end_station_state,
            </if>
            <if test="placeOrderForNight != null">
                place_order_for_night ,
            </if>
            <if test="userName != null and userName != ''">
                user_name ,
            </if>
            <if test="password != null and password != ''">
                password ,
            </if>
            <if test="bindPhone != null and bindPhone != ''">
                bind_phone ,
            </if>
            <if test="chooseSeats != null and chooseSeats != ''">
                choose_seats ,
            </if>
            <if test="acceptnoseat != null">
                acceptnoseat ,
            </if>
            <if test="grabEndTime != null">
                grab_end_time ,
            </if>
            <if test="beginSaleTime != null and beginSaleTime != ''">
                begin_sale_time ,
            </if>
            <if test="selfSelect != null">
                self_select ,
            </if>
            <if test="fromCity != null and fromCity != ''">
                from_city ,
            </if>
            <if test="toCity != null and toCity != ''">
                to_city ,
            </if>
            <if test="startDateTime != null">
                start_date_time ,
            </if>
            <if test="endDateTime != null">
                end_date_time ,
            </if>
            <if test="fromCityId != null">
                from_city_id ,
            </if>
            <if test="toCityId != null">
                to_city_id ,
            </if>
            <if test="trafficNo != null and trafficNo != ''">
                traffic_no ,
            </if>

                create_date ,

            <if test="createUser != null and createUser != ''">
                create_user ,
            </if>
            <if test="updateDate != null">
                update_date ,
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user ,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tripSerial != null and tripSerial != ''">
                #{tripSerial},
            </if>
            <if test="trainNo != null and trainNo != ''">
                #{trainNo},
            </if>
            <if test="seatClass != null">
                #{seatClass},
            </if>
            <if test="startStationCode != null and startStationCode != ''">
                #{startStationCode},
            </if>
            <if test="startStationName != null and startStationName != ''">
                #{startStationName},
            </if>
            <if test="startStationState != null">
                #{startStationState},
            </if>
            <if test="endStationCode != null and endStationCode != ''">
                #{endStationCode},
            </if>
            <if test="endStationName != null and endStationName != ''">
                #{endStationName},
            </if>
            <if test="endStationState != null">
                #{endStationState},
            </if>
            <if test="placeOrderForNight != null">
                #{placeOrderForNight},
            </if>
            <if test="userName != null and userName != ''">
                #{userName},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="bindPhone != null and bindPhone != ''">
                #{bindPhone},
            </if>
            <if test="chooseSeats != null and chooseSeats != ''">
                #{chooseSeats},
            </if>
            <if test="acceptnoseat != null">
                #{acceptnoseat},
            </if>
            <if test="grabEndTime != null">
                #{grabEndTime},
            </if>
            <if test="beginSaleTime != null and beginSaleTime != ''">
                #{beginSaleTime},
            </if>
            <if test="selfSelect != null">
                #{selfSelect},
            </if>
            <if test="fromCity != null and fromCity != ''">
                #{fromCity},
            </if>
            <if test="toCity != null and toCity != ''">
                #{toCity},
            </if>
            <if test="startDateTime != null">
                #{startDateTime},
            </if>
            <if test="endDateTime != null">
                #{endDateTime},
            </if>
            <if test="fromCityId != null">
                #{fromCityId},
            </if>
            <if test="toCityId != null">
                #{toCityId},
            </if>
            <if test="trafficNo != null and trafficNo != ''">
                #{trafficNo},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createDate == null">
                now(),
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                #{updateUser},
            </if>
        </trim>

    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.train_trip_info
        <set>
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial = #{tripSerial},
            </if>
            <if test="trainNo != null and trainNo != ''">
                train_no = #{trainNo},
            </if>
            <if test="seatClass != null">
                seat_class = #{seatClass},
            </if>
            <if test="startStationCode != null and startStationCode != ''">
                start_station_code = #{startStationCode},
            </if>
            <if test="startStationName != null and startStationName != ''">
                start_station_name = #{startStationName},
            </if>
            <if test="startStationState != null">
                start_station_state = #{startStationState},
            </if>
            <if test="endStationCode != null and endStationCode != ''">
                end_station_code = #{endStationCode},
            </if>
            <if test="endStationName != null and endStationName != ''">
                end_station_name = #{endStationName},
            </if>
            <if test="endStationState != null">
                end_station_state = #{endStationState},
            </if>
            <if test="placeOrderForNight != null">
                place_order_for_night = #{placeOrderForNight},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="bindPhone != null and bindPhone != ''">
                bind_phone = #{bindPhone},
            </if>
            <if test="chooseSeats != null and chooseSeats != ''">
                choose_seats = #{chooseSeats},
            </if>
            <if test="acceptnoseat != null">
                acceptnoseat = #{acceptnoseat},
            </if>
            <if test="grabEndTime != null">
                grab_end_time = #{grabEndTime},
            </if>
            <if test="beginSaleTime != null and beginSaleTime != ''">
                begin_sale_time = #{beginSaleTime},
            </if>
            <if test="selfSelect != null">
                self_select = #{selfSelect},
            </if>
            <if test="fromCity != null and fromCity != ''">
                from_city = #{fromCity},
            </if>
            <if test="toCity != null and toCity != ''">
                to_city = #{toCity},
            </if>
            <if test="startDateTime != null">
                start_date_time = #{startDateTime},
            </if>
            <if test="endDateTime != null">
                end_date_time = #{endDateTime},
            </if>
            <if test="fromCityId != null">
                from_city_id = #{fromCityId},
            </if>
            <if test="toCityId != null">
                to_city_id = #{toCityId},
            </if>
            <if test="trafficNo != null and trafficNo != ''">
                traffic_no = #{trafficNo},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.train_trip_info where id = #{id}
    </delete>

</mapper>
