<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.paycallback.repository.mapper.PayWriteBackLogMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.paycallback.repository.po.PayWriteBackLogPO" id="PayWriteBackLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="tcSerialId" column="tc_serial_id" jdbcType="VARCHAR"/>
        <result property="outSerialid" column="out_serialId" jdbcType="VARCHAR"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="merSerialId" column="mer_serial_id" jdbcType="VARCHAR"/>
        <result property="payCode" column="pay_code" jdbcType="INTEGER"/>
        <result property="reInfo" column="re_info" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="NUMERIC"/>
        <result property="channelId" column="channel_id" jdbcType="INTEGER"/>
        <result property="channelName" column="channel_name" jdbcType="VARCHAR"/>
        <result property="productId" column="product_id" jdbcType="INTEGER"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="payFinishedTime" column="pay_finished_time" jdbcType="TIMESTAMP"/>
        <result property="extData" column="ext_data" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="userAccount" column="user_account" jdbcType="VARCHAR"/>
        <result property="shortName" column="short_name" jdbcType="VARCHAR"/>
        <result property="bankName" column="bank_name" jdbcType="VARCHAR"/>
        <result property="cardType" column="card_type" jdbcType="VARCHAR"/>
        <result property="projectOrder" column="project_order" jdbcType="VARCHAR"/>
        <result property="projectCode" column="project_code" jdbcType="VARCHAR"/>
        <result property="financeCode" column="finance_code" jdbcType="VARCHAR"/>
        <result property="paymentCount" column="payment_count" jdbcType="INTEGER"/>
        <result property="unionOrder" column="union_order" jdbcType="VARCHAR"/>
        <result property="operationType" column="operation_type" jdbcType="INTEGER"/>
        <result property="reduceAmount" column="reduce_amount" jdbcType="VARCHAR"/>
        <result property="awardAmount" column="award_amount" jdbcType="VARCHAR"/>
        <result property="companyCode" column="company_code" jdbcType="VARCHAR"/>
        <result property="fromPlat" column="from_plat" jdbcType="INTEGER"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="refRefundSerialid" column="ref_refund_serialId" jdbcType="VARCHAR"/>
        <result property="refOrderSerialid" column="ref_order_serialId" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="PayWriteBackLogMap">
        select
          id, tc_serial_id, out_serialId, order_no, mer_serial_id, pay_code, re_info, amount, channel_id, channel_name, product_id, product_name, pay_finished_time, ext_data, open_id, user_account, short_name, bank_name, card_type, project_order, project_code, finance_code, payment_count, union_order, operation_type, reduce_amount, award_amount, company_code, from_plat, create_user, create_time, ref_refund_serialId, ref_order_serialId
        from union_order.pay_write_back_log
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="PayWriteBackLogMap">
        select
          id, tc_serial_id, out_serialId, order_no, mer_serial_id, pay_code, re_info, amount, channel_id, channel_name, product_id, product_name, pay_finished_time, ext_data, open_id, user_account, short_name, bank_name, card_type, project_order, project_code, finance_code, payment_count, union_order, operation_type, reduce_amount, award_amount, company_code, from_plat, create_user, create_time, ref_refund_serialId, ref_order_serialId
        from union_order.pay_write_back_log
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="PayWriteBackLogMap">
        select
          id, tc_serial_id, out_serialId, order_no, mer_serial_id, pay_code, re_info, amount, channel_id, channel_name, product_id, product_name, pay_finished_time, ext_data, open_id, user_account, short_name, bank_name, card_type, project_order, project_code, finance_code, payment_count, union_order, operation_type, reduce_amount, award_amount, company_code, from_plat, create_user, create_time, ref_refund_serialId, ref_order_serialId
        from union_order.pay_write_back_log
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tcSerialId != null and tcSerialId != ''">
                and tc_serial_id = #{tcSerialId}
            </if>
            <if test="outSerialid != null and outSerialid != ''">
                and out_serialId = #{outSerialid}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo}
            </if>
            <if test="merSerialId != null and merSerialId != ''">
                and mer_serial_id = #{merSerialId}
            </if>
            <if test="payCode != null">
                and pay_code = #{payCode}
            </if>
            <if test="reInfo != null and reInfo != ''">
                and re_info = #{reInfo}
            </if>
            <if test="amount != null">
                and amount = #{amount}
            </if>
            <if test="channelId != null">
                and channel_id = #{channelId}
            </if>
            <if test="channelName != null and channelName != ''">
                and channel_name = #{channelName}
            </if>
            <if test="productId != null">
                and product_id = #{productId}
            </if>
            <if test="productName != null and productName != ''">
                and product_name = #{productName}
            </if>
            <if test="payFinishedTime != null">
                and pay_finished_time = #{payFinishedTime}
            </if>
            <if test="extData != null and extData != ''">
                and ext_data = #{extData}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId}
            </if>
            <if test="userAccount != null and userAccount != ''">
                and user_account = #{userAccount}
            </if>
            <if test="shortName != null and shortName != ''">
                and short_name = #{shortName}
            </if>
            <if test="bankName != null and bankName != ''">
                and bank_name = #{bankName}
            </if>
            <if test="cardType != null and cardType != ''">
                and card_type = #{cardType}
            </if>
            <if test="projectOrder != null and projectOrder != ''">
                and project_order = #{projectOrder}
            </if>
            <if test="projectCode != null and projectCode != ''">
                and project_code = #{projectCode}
            </if>
            <if test="financeCode != null and financeCode != ''">
                and finance_code = #{financeCode}
            </if>
            <if test="paymentCount != null">
                and payment_count = #{paymentCount}
            </if>
            <if test="unionOrder != null and unionOrder != ''">
                and union_order = #{unionOrder}
            </if>
            <if test="operationType != null">
                and operation_type = #{operationType}
            </if>
            <if test="reduceAmount != null and reduceAmount != ''">
                and reduce_amount = #{reduceAmount}
            </if>
            <if test="awardAmount != null and awardAmount != ''">
                and award_amount = #{awardAmount}
            </if>
            <if test="companyCode != null and companyCode != ''">
                and company_code = #{companyCode}
            </if>
            <if test="fromPlat != null">
                and from_plat = #{fromPlat}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="refRefundSerialid != null and refRefundSerialid != ''">
                and ref_refund_serialId = #{refRefundSerialid}
            </if>
            <if test="refOrderSerialid != null and refOrderSerialid != ''">
                and ref_order_serialId = #{refOrderSerialid}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.pay_write_back_log(tc_serial_id, out_serialId, order_no, mer_serial_id, pay_code, re_info, amount, channel_id, channel_name, product_id, product_name, pay_finished_time, ext_data, open_id, user_account, short_name, bank_name, card_type, project_order, project_code, finance_code, payment_count, union_order, operation_type, reduce_amount, award_amount, company_code, from_plat, create_user, create_time, ref_refund_serialId, ref_order_serialId)
        values (#{tcSerialId}, #{outSerialid}, #{orderNo}, #{merSerialId}, #{payCode}, #{reInfo}, #{amount}, #{channelId}, #{channelName}, #{productId}, #{productName}, #{payFinishedTime}, #{extData}, #{openId}, #{userAccount}, #{shortName}, #{bankName}, #{cardType}, #{projectOrder}, #{projectCode}, #{financeCode}, #{paymentCount}, #{unionOrder}, #{operationType}, #{reduceAmount}, #{awardAmount}, #{companyCode}, #{fromPlat}, #{createUser}, #{createTime}, #{refRefundSerialid}, #{refOrderSerialid})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.pay_write_back_log
        <set>
            <if test="tcSerialId != null and tcSerialId != ''">
                tc_serial_id = #{tcSerialId},
            </if>
            <if test="outSerialid != null and outSerialid != ''">
                out_serialId = #{outSerialid},
            </if>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo},
            </if>
            <if test="merSerialId != null and merSerialId != ''">
                mer_serial_id = #{merSerialId},
            </if>
            <if test="payCode != null">
                pay_code = #{payCode},
            </if>
            <if test="reInfo != null and reInfo != ''">
                re_info = #{reInfo},
            </if>
            <if test="amount != null">
                amount = #{amount},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId},
            </if>
            <if test="channelName != null and channelName != ''">
                channel_name = #{channelName},
            </if>
            <if test="productId != null">
                product_id = #{productId},
            </if>
            <if test="productName != null and productName != ''">
                product_name = #{productName},
            </if>
            <if test="payFinishedTime != null">
                pay_finished_time = #{payFinishedTime},
            </if>
            <if test="extData != null and extData != ''">
                ext_data = #{extData},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="userAccount != null and userAccount != ''">
                user_account = #{userAccount},
            </if>
            <if test="shortName != null and shortName != ''">
                short_name = #{shortName},
            </if>
            <if test="bankName != null and bankName != ''">
                bank_name = #{bankName},
            </if>
            <if test="cardType != null and cardType != ''">
                card_type = #{cardType},
            </if>
            <if test="projectOrder != null and projectOrder != ''">
                project_order = #{projectOrder},
            </if>
            <if test="projectCode != null and projectCode != ''">
                project_code = #{projectCode},
            </if>
            <if test="financeCode != null and financeCode != ''">
                finance_code = #{financeCode},
            </if>
            <if test="paymentCount != null">
                payment_count = #{paymentCount},
            </if>
            <if test="unionOrder != null and unionOrder != ''">
                union_order = #{unionOrder},
            </if>
            <if test="operationType != null">
                operation_type = #{operationType},
            </if>
            <if test="reduceAmount != null and reduceAmount != ''">
                reduce_amount = #{reduceAmount},
            </if>
            <if test="awardAmount != null and awardAmount != ''">
                award_amount = #{awardAmount},
            </if>
            <if test="companyCode != null and companyCode != ''">
                company_code = #{companyCode},
            </if>
            <if test="fromPlat != null">
                from_plat = #{fromPlat},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="refRefundSerialid != null and refRefundSerialid != ''">
                ref_refund_serialId = #{refRefundSerialid},
            </if>
            <if test="refOrderSerialid != null and refOrderSerialid != ''">
                ref_order_serialId = #{refOrderSerialid},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.pay_write_back_log where id = #{id}
    </delete>

</mapper>
