<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.refundticket.repository.mapper.RefundTicketOrderMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.refundticket.repository.po.RefundTicketOrderPO" id="RefundTicketOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mainOrderNo" column="main_order_no" jdbcType="VARCHAR"/>
        <result property="passengerOrderNo" column="passenger_order_no" jdbcType="VARCHAR"/>
        <result property="ticketNo" column="ticket_no" jdbcType="VARCHAR"/>
        <result property="refundCharge" column="refund_charge" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="reasonCode" column="reason_code" jdbcType="INTEGER"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="rejectReason" column="reject_reason" jdbcType="VARCHAR"/>
        <result property="memberId" column="member_id" jdbcType="INTEGER"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="applyTime" column="apply_time" jdbcType="TIMESTAMP"/>
        <result property="refundType" column="refund_type" jdbcType="INTEGER"/>
        <result property="runSettleFee" column="run_settle_fee" jdbcType="NUMERIC"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="RefundTicketOrderMap">
        select
          id, main_order_no, passenger_order_no, ticket_no, refund_charge, status, reason_code, reason, reject_reason, member_id, union_id, open_id, apply_time, refund_type, run_settle_fee, create_date, create_user, update_date, update_user
        from union_order.refund_ticket_order
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RefundTicketOrderMap">
        select
          id, main_order_no, passenger_order_no, ticket_no, refund_charge, status, reason_code, reason, reject_reason, member_id, union_id, open_id, apply_time, refund_type, run_settle_fee, create_date, create_user, update_date, update_user
        from union_order.refund_ticket_order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="RefundTicketOrderMap">
        select
          id, main_order_no, passenger_order_no, ticket_no, refund_charge, status, reason_code, reason, reject_reason, member_id, union_id, open_id, apply_time, refund_type, run_settle_fee, create_date, create_user, update_date, update_user
        from union_order.refund_ticket_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                and main_order_no = #{mainOrderNo}
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                and passenger_order_no = #{passengerOrderNo}
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                and ticket_no = #{ticketNo}
            </if>
            <if test="refundCharge != null">
                and refund_charge = #{refundCharge}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="reasonCode != null">
                and reason_code = #{reasonCode}
            </if>
            <if test="reason != null and reason != ''">
                and reason = #{reason}
            </if>
            <if test="rejectReason != null and rejectReason != ''">
                and reject_reason = #{rejectReason}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="unionId != null and unionId != ''">
                and union_id = #{unionId}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId}
            </if>
            <if test="applyTime != null">
                and apply_time = #{applyTime}
            </if>
            <if test="refundType != null">
                and refund_type = #{refundType}
            </if>
            <if test="runSettleFee != null">
                and run_settle_fee = #{runSettleFee}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.refund_ticket_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mainOrderNo != null and mainOrderNo != ''">
                main_order_no,
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                passenger_order_no,
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                ticket_no,
            </if>
            <if test="refundCharge != null">
                refund_charge,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="reasonCode != null">
                reason_code,
            </if>
            <if test="reason != null and reason != ''">
                reason = #{reason},
            </if>
            <if test="rejectReason != null and rejectReason != ''">
                reject_reason,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="unionId != null and unionId != ''">
                union_id,
            </if>
            <if test="openId != null and openId != ''">
                open_id,
            </if>
            <if test="applyTime != null">
                apply_time,
            </if>
            <if test="refundType != null">
                refund_type,
            </if>
            <if test="runSettleFee != null">
                run_settle_fee,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null and createUser != ''">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mainOrderNo != null and mainOrderNo != ''">
                #{mainOrderNo},
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                #{passengerOrderNo},
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                #{ticketNo},
            </if>
            <if test="refundCharge != null">
                #{refundCharge},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="reasonCode != null">
                #{reasonCode},
            </if>
            <if test="reason != null and reason != ''">
                #{reason},
            </if>
            <if test="rejectReason != null and rejectReason != ''">
                #{rejectReason},
            </if>
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="unionId != null and unionId != ''">
                #{unionId},
            </if>
            <if test="openId != null and openId != ''">
                #{openId},
            </if>
            <if test="applyTime != null">
                #{applyTime},
            </if>
            <if test="refundType != null">
                #{refundType},
            </if>
            <if test="runSettleFee != null">
                #{runSettleFee},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                #{updateUser},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.refund_ticket_order
        <set>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                main_order_no = #{mainOrderNo},
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                passenger_order_no = #{passengerOrderNo},
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                ticket_no = #{ticketNo},
            </if>
            <if test="refundCharge != null">
                refund_charge = #{refundCharge},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="reasonCode != null">
                reason_code = #{reasonCode},
            </if>
            <if test="reason != null and reason != ''">
                reason = #{reason},
            </if>
            <if test="rejectReason != null and rejectReason != ''">
                reject_reason = #{rejectReason},
            </if>
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
            <if test="unionId != null and unionId != ''">
                union_id = #{unionId},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime},
            </if>
            <if test="refundType != null">
                refund_type = #{refundType},
            </if>
            <if test="runSettleFee != null">
                run_settle_fee = #{runSettleFee},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.refund_ticket_order where id = #{id}
    </delete>

</mapper>
