<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.createorder.repository.mapper.MainOrderMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.createorder.repository.po.MainOrderPO" id="MainOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="platId" column="plat_id" jdbcType="INTEGER"/>
        <result property="sourceType" column="source_type" jdbcType="INTEGER"/>
        <result property="memberId" column="member_id" jdbcType="INTEGER"/>
        <result property="supplierOrderNo" column="supplier_order_no" jdbcType="VARCHAR"/>
        <result property="checkStatus" column="check_status" jdbcType="INTEGER"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="mailStatus" column="mail_status" jdbcType="OTHER"/>
        <result property="payStatus" column="pay_status" jdbcType="INTEGER"/>
        <result property="contactName" column="contact_name" jdbcType="VARCHAR"/>
        <result property="contactPhone" column="contact_phone" jdbcType="VARCHAR"/>
        <result property="contactEmail" column="contact_email" jdbcType="VARCHAR"/>
        <result property="customerTotalAmount" column="customer_total_amount" jdbcType="NUMERIC"/>
        <result property="customerTotalPaid" column="customer_total_paid" jdbcType="NUMERIC"/>
        <result property="ticketTotalPrice" column="ticket_total_price" jdbcType="NUMERIC"/>
        <result property="reduceAmount" column="reduce_amount" jdbcType="NUMERIC"/>
        <result property="discountAmount" column="discount_amount" jdbcType="NUMERIC"/>
        <result property="bookFlag" column="book_flag" jdbcType="INTEGER"/>
        <result property="issueFlag" column="issue_flag" jdbcType="INTEGER"/>
        <result property="payMode" column="pay_mode" jdbcType="INTEGER"/>
        <result property="validPayTime" column="valid_pay_time" jdbcType="TIMESTAMP"/>
        <result property="paymentType" column="payment_type" jdbcType="INTEGER"/>
        <result property="unionPay" column="union_pay" jdbcType="INTEGER"/>
        <result property="directPay" column="direct_pay" jdbcType="INTEGER"/>
        <result property="productType" column="product_type" jdbcType="INTEGER"/>
        <result property="withHoldStatus" column="with_hold_status" jdbcType="INTEGER"/>
        <result property="withHoldFailReason" column="with_hold_fail_reason" jdbcType="VARCHAR"/>
        <result property="refId" column="ref_id" jdbcType="INTEGER"/>
        <result property="unionId" column="union_id" jdbcType="VARCHAR"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
        <result property="extendContent" column="extend_content" jdbcType="VARCHAR"/>
        <result property="userCreateDate" column="user_create_date" jdbcType="TIMESTAMP"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MainOrderMap">
        select
          id, order_no, plat_id, source_type, member_id, supplier_order_no, check_status, order_status, mail_status, pay_status, contact_name, contact_phone, contact_email, customer_total_amount, customer_total_paid, ticket_total_price, reduce_amount, discount_amount, book_flag, issue_flag, pay_mode, valid_pay_time, payment_type, union_pay, direct_pay, product_type, with_hold_status, with_hold_fail_reason, ref_id, union_id, open_id, extend_content, user_create_date, create_date, create_user, update_date, update_user
        from union_order.main_order
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MainOrderMap">
        select
          id, order_no, plat_id, source_type, member_id, supplier_order_no, check_status, order_status, mail_status, pay_status, contact_name, contact_phone, contact_email, customer_total_amount, customer_total_paid, ticket_total_price, reduce_amount, discount_amount, book_flag, issue_flag, pay_mode, valid_pay_time, payment_type, union_pay, direct_pay, product_type, with_hold_status, with_hold_fail_reason, ref_id, union_id, open_id, extend_content, user_create_date, create_date, create_user, update_date, update_user
        from union_order.main_order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MainOrderMap">
        select
          id, order_no, plat_id, source_type, member_id, supplier_order_no, check_status, order_status, mail_status, pay_status, contact_name, contact_phone, contact_email, customer_total_amount, customer_total_paid, ticket_total_price, reduce_amount, discount_amount, book_flag, issue_flag, pay_mode, valid_pay_time, payment_type, union_pay, direct_pay, product_type, with_hold_status, with_hold_fail_reason, ref_id, union_id, open_id, extend_content, user_create_date, create_date, create_user, update_date, update_user
        from union_order.main_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderNo != null and orderNo != ''">
                and order_no = #{orderNo}
            </if>
            <if test="platId != null">
                and plat_id = #{platId}
            </if>
            <if test="sourceType != null">
                and source_type = #{sourceType}
            </if>
            <if test="memberId != null">
                and member_id = #{memberId}
            </if>
            <if test="supplierOrderNo != null and supplierOrderNo != ''">
                and supplier_order_no = #{supplierOrderNo}
            </if>
            <if test="checkStatus != null">
                and check_status = #{checkStatus}
            </if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
            <if test="mailStatus != null">
                and mail_status = #{mailStatus}
            </if>
            <if test="payStatus != null">
                and pay_status = #{payStatus}
            </if>
            <if test="contactName != null and contactName != ''">
                and contact_name = #{contactName}
            </if>
            <if test="contactPhone != null and contactPhone != ''">
                and contact_phone = #{contactPhone}
            </if>
            <if test="contactEmail != null and contactEmail != ''">
                and contact_email = #{contactEmail}
            </if>
            <if test="customerTotalAmount != null">
                and customer_total_amount = #{customerTotalAmount}
            </if>
            <if test="customerTotalPaid != null">
                and customer_total_paid = #{customerTotalPaid}
            </if>
            <if test="ticketTotalPrice != null">
                and ticket_total_price = #{ticketTotalPrice}
            </if>
            <if test="reduceAmount != null">
                and reduce_amount = #{reduceAmount}
            </if>
            <if test="discountAmount != null">
                and discount_amount = #{discountAmount}
            </if>
            <if test="bookFlag != null">
                and book_flag = #{bookFlag}
            </if>
            <if test="issueFlag != null">
                and issue_flag = #{issueFlag}
            </if>
            <if test="payMode != null">
                and pay_mode = #{payMode}
            </if>
            <if test="validPayTime != null">
                and valid_pay_time = #{validPayTime}
            </if>
            <if test="paymentType != null">
                and payment_type = #{paymentType}
            </if>
            <if test="unionPay != null">
                and union_pay = #{unionPay}
            </if>
            <if test="directPay != null">
                and direct_pay = #{directPay}
            </if>
            <if test="productType != null">
                and product_type = #{productType}
            </if>
            <if test="withHoldStatus != null">
                and with_hold_status = #{withHoldStatus}
            </if>
            <if test="withHoldFailReason != null and withHoldFailReason != ''">
                and with_hold_fail_reason = #{withHoldFailReason}
            </if>
            <if test="refId != null">
                and ref_id = #{refId}
            </if>
            <if test="unionId != null and unionId != ''">
                and union_id = #{unionId}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId}
            </if>
            <if test="extendContent != null and extendContent != ''">
                and extend_content = #{extendContent}
            </if>
            <if test="userCreateDate != null">
                and user_create_date = #{userCreateDate}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into main_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="platId != null">
                plat_id,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="memberId != null">
                member_id,
            </if>
            <if test="supplierOrderNo != null">
                supplier_order_no,
            </if>
            <if test="checkStatus != null">
                check_status,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="mailStatus != null">
                mail_status,
            </if>
            <if test="payStatus != null">
                pay_status,
            </if>
            <if test="contactName != null">
                contact_name,
            </if>
            <if test="contactPhone != null">
                contact_phone,
            </if>
            <if test="contactEmail != null">
                contact_email,
            </if>
            <if test="customerTotalAmount != null">
                customer_total_amount,
            </if>
            <if test="customerTotalPaid != null">
                customer_total_paid,
            </if>
            <if test="ticketTotalPrice != null">
                ticket_total_price,
            </if>
            <if test="reduceAmount != null">
                reduce_amount,
            </if>
            <if test="discountAmount != null">
                discount_amount,
            </if>
            <if test="bookFlag != null">
                book_flag,
            </if>
            <if test="issueFlag != null">
                issue_flag,
            </if>
            <if test="payMode != null">
                pay_mode,
            </if>
            <if test="validPayTime != null">
                valid_pay_time,
            </if>
            <if test="paymentType != null">
                payment_type,
            </if>
            <if test="unionPay != null">
                union_pay,
            </if>
            <if test="directPay != null">
                direct_pay,
            </if>
            <if test="productType != null">
                product_type,
            </if>
            <if test="withHoldStatus != null">
                with_hold_status,
            </if>
            <if test="withHoldFailReason != null">
                with_hold_fail_reason,
            </if>
            <if test="refId != null">
                ref_id,
            </if>
            <if test="unionId != null">
                union_id,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="extendContent != null">
                extend_content,
            </if>
            <if test="userCreateDate != null">
                user_create_date,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="orderNo != null">
                #{orderNo},
            </if>
            <if test="platId != null">
                #{platId},
            </if>
            <if test="sourceType != null">
                #{sourceType},
            </if>
            <if test="memberId != null">
                #{memberId},
            </if>
            <if test="supplierOrderNo != null">
                #{supplierOrderNo},
            </if>
            <if test="checkStatus != null">
                #{checkStatus},
            </if>
            <if test="orderStatus != null">
                #{orderStatus},
            </if>
            <if test="mailStatus != null">
                #{mailStatus},
            </if>
            <if test="payStatus != null">
                #{payStatus},
            </if>
            <if test="contactName != null">
                #{contactName},
            </if>
            <if test="contactPhone != null">
                #{contactPhone},
            </if>
            <if test="contactEmail != null">
                #{contactEmail},
            </if>
            <if test="customerTotalAmount != null">
                #{customerTotalAmount},
            </if>
            <if test="customerTotalPaid != null">
                #{customerTotalPaid},
            </if>
            <if test="ticketTotalPrice != null">
                #{ticketTotalPrice},
            </if>
            <if test="reduceAmount != null">
                #{reduceAmount},
            </if>
            <if test="discountAmount != null">
                #{discountAmount},
            </if>
            <if test="bookFlag != null">
                #{bookFlag},
            </if>
            <if test="issueFlag != null">
                #{issueFlag},
            </if>
            <if test="payMode != null">
                #{payMode},
            </if>
            <if test="validPayTime != null">
                #{validPayTime},
            </if>
            <if test="paymentType != null">
                #{paymentType},
            </if>
            <if test="unionPay != null">
                #{unionPay},
            </if>
            <if test="directPay != null">
                #{directPay},
            </if>
            <if test="productType != null">
                #{productType},
            </if>
            <if test="withHoldStatus != null">
                #{withHoldStatus},
            </if>
            <if test="withHoldFailReason != null">
                #{withHoldFailReason},
            </if>
            <if test="refId != null">
                #{refId},
            </if>
            <if test="unionId != null">
                #{unionId},
            </if>
            <if test="openId != null">
                #{openId},
            </if>
            <if test="extendContent != null">
                #{extendContent},
            </if>
            <if test="userCreateDate != null">
                #{userCreateDate},
            </if>
            <if test="createDate != null">
                #{createDate},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="updateDate != null">
                #{updateDate},
            </if>
            <if test="updateUser != null">
                #{updateUser},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.main_order
        <set>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo},
            </if>
            <if test="platId != null">
                plat_id = #{platId},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType},
            </if>
            <if test="memberId != null">
                member_id = #{memberId},
            </if>
            <if test="supplierOrderNo != null and supplierOrderNo != ''">
                supplier_order_no = #{supplierOrderNo},
            </if>
            <if test="checkStatus != null">
                check_status = #{checkStatus},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="mailStatus != null">
                mail_status = #{mailStatus},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="contactName != null and contactName != ''">
                contact_name = #{contactName},
            </if>
            <if test="contactPhone != null and contactPhone != ''">
                contact_phone = #{contactPhone},
            </if>
            <if test="contactEmail != null and contactEmail != ''">
                contact_email = #{contactEmail},
            </if>
            <if test="customerTotalAmount != null">
                customer_total_amount = #{customerTotalAmount},
            </if>
            <if test="customerTotalPaid != null">
                customer_total_paid = #{customerTotalPaid},
            </if>
            <if test="ticketTotalPrice != null">
                ticket_total_price = #{ticketTotalPrice},
            </if>
            <if test="reduceAmount != null">
                reduce_amount = #{reduceAmount},
            </if>
            <if test="discountAmount != null">
                discount_amount = #{discountAmount},
            </if>
            <if test="bookFlag != null">
                book_flag = #{bookFlag},
            </if>
            <if test="issueFlag != null">
                issue_flag = #{issueFlag},
            </if>
            <if test="payMode != null">
                pay_mode = #{payMode},
            </if>
            <if test="validPayTime != null">
                valid_pay_time = #{validPayTime},
            </if>
            <if test="paymentType != null">
                payment_type = #{paymentType},
            </if>
            <if test="unionPay != null">
                union_pay = #{unionPay},
            </if>
            <if test="directPay != null">
                direct_pay = #{directPay},
            </if>
            <if test="productType != null">
                product_type = #{productType},
            </if>
            <if test="withHoldStatus != null">
                with_hold_status = #{withHoldStatus},
            </if>
            <if test="withHoldFailReason != null and withHoldFailReason != ''">
                with_hold_fail_reason = #{withHoldFailReason},
            </if>
            <if test="refId != null">
                ref_id = #{refId},
            </if>
            <if test="unionId != null and unionId != ''">
                union_id = #{unionId},
            </if>
            <if test="openId != null and openId != ''">
                open_id = #{openId},
            </if>
            <if test="extendContent != null and extendContent != ''">
                extend_content = #{extendContent},
            </if>
            <if test="userCreateDate != null">
                user_create_date = #{userCreateDate},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.main_order where id = #{id}
    </delete>

</mapper>
