<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.ResourceConsumerOrderMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.ResourceConsumerOrderPO" id="ResourceConsumerOrderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mainorderno" column="mainOrderNo" jdbcType="VARCHAR"/>
        <result property="triporderno" column="tripOrderNo" jdbcType="VARCHAR"/>
        <result property="cardid" column="cardId" jdbcType="VARCHAR"/>
        <result property="cardno" column="cardNo" jdbcType="VARCHAR"/>
        <result property="cardtype" column="cardType" jdbcType="INTEGER"/>
        <result property="memberid" column="memberId" jdbcType="VARCHAR"/>
        <result property="usestatus" column="useStatus" jdbcType="INTEGER"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="occupytime" column="occupyTime" jdbcType="TIMESTAMP"/>
        <result property="writeofftime" column="writeoffTime" jdbcType="TIMESTAMP"/>
        <result property="createtime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="createuser" column="createUser" jdbcType="VARCHAR"/>
        <result property="updatetime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="updateuser" column="updateUser" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ResourceConsumerOrderMap">
        select
          id, mainOrderNo, tripOrderNo, cardId, cardNo, cardType, memberId, useStatus, reason, occupyTime, writeoffTime, createTime, createUser, updateTime, updateUser
        from union_order.resource_consumer_order
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ResourceConsumerOrderMap">
        select
          id, mainOrderNo, tripOrderNo, cardId, cardNo, cardType, memberId, useStatus, reason, occupyTime, writeoffTime, createTime, createUser, updateTime, updateUser
        from union_order.resource_consumer_order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ResourceConsumerOrderMap">
        select
          id, mainOrderNo, tripOrderNo, cardId, cardNo, cardType, memberId, useStatus, reason, occupyTime, writeoffTime, createTime, createUser, updateTime, updateUser
        from union_order.resource_consumer_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="mainorderno != null and mainorderno != ''">
                and mainOrderNo = #{mainorderno}
            </if>
            <if test="triporderno != null and triporderno != ''">
                and tripOrderNo = #{triporderno}
            </if>
            <if test="cardid != null and cardid != ''">
                and cardId = #{cardid}
            </if>
            <if test="cardno != null and cardno != ''">
                and cardNo = #{cardno}
            </if>
            <if test="cardtype != null">
                and cardType = #{cardtype}
            </if>
            <if test="memberid != null and memberid != ''">
                and memberId = #{memberid}
            </if>
            <if test="usestatus != null">
                and useStatus = #{usestatus}
            </if>
            <if test="reason != null and reason != ''">
                and reason = #{reason}
            </if>
            <if test="occupytime != null">
                and occupyTime = #{occupytime}
            </if>
            <if test="writeofftime != null">
                and writeoffTime = #{writeofftime}
            </if>
            <if test="createtime != null">
                and createTime = #{createtime}
            </if>
            <if test="createuser != null and createuser != ''">
                and createUser = #{createuser}
            </if>
            <if test="updatetime != null">
                and updateTime = #{updatetime}
            </if>
            <if test="updateuser != null and updateuser != ''">
                and updateUser = #{updateuser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.resource_consumer_order(mainOrderNo, tripOrderNo, cardId, cardNo, cardType, memberId, useStatus, reason, occupyTime, writeoffTime, createTime, createUser, updateTime, updateUser)
        values (#{mainorderno}, #{triporderno}, #{cardid}, #{cardno}, #{cardtype}, #{memberid}, #{usestatus}, #{reason}, #{occupytime}, #{writeofftime}, #{createtime}, #{createuser}, #{updatetime}, #{updateuser})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.resource_consumer_order
        <set>
            <if test="mainorderno != null and mainorderno != ''">
                mainOrderNo = #{mainorderno},
            </if>
            <if test="triporderno != null and triporderno != ''">
                tripOrderNo = #{triporderno},
            </if>
            <if test="cardid != null and cardid != ''">
                cardId = #{cardid},
            </if>
            <if test="cardno != null and cardno != ''">
                cardNo = #{cardno},
            </if>
            <if test="cardtype != null">
                cardType = #{cardtype},
            </if>
            <if test="memberid != null and memberid != ''">
                memberId = #{memberid},
            </if>
            <if test="usestatus != null">
                useStatus = #{usestatus},
            </if>
            <if test="reason != null and reason != ''">
                reason = #{reason},
            </if>
            <if test="occupytime != null">
                occupyTime = #{occupytime},
            </if>
            <if test="writeofftime != null">
                writeoffTime = #{writeofftime},
            </if>
            <if test="createtime != null">
                createTime = #{createtime},
            </if>
            <if test="createuser != null and createuser != ''">
                createUser = #{createuser},
            </if>
            <if test="updatetime != null">
                updateTime = #{updatetime},
            </if>
            <if test="updateuser != null and updateuser != ''">
                updateUser = #{updateuser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.resource_consumer_order where id = #{id}
    </delete>

</mapper>
