<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.TicketInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.TicketInfoPO" id="TicketInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="ticketSerial" column="ticket_serial" jdbcType="VARCHAR"/>
        <result property="ticketNo" column="ticket_no" jdbcType="VARCHAR"/>
        <result property="ticketPrice" column="ticket_price" jdbcType="NUMERIC"/>
        <result property="carriageNo" column="carriage_no" jdbcType="VARCHAR"/>
        <result property="seatNo" column="seat_no" jdbcType="VARCHAR"/>
        <result property="seatClass" column="seat_class" jdbcType="INTEGER"/>
        <result property="sms" column="sms" jdbcType="VARCHAR"/>
        <result property="ticketPassword" column="ticket_password" jdbcType="VARCHAR"/>
        <result property="ticketVerifyCode" column="ticket_verify_code" jdbcType="VARCHAR"/>
        <result property="ticketOrderNum" column="ticket_order_num" jdbcType="VARCHAR"/>
        <result property="ticketPhone" column="ticket_phone" jdbcType="VARCHAR"/>
        <result property="checkinNos" column="checkin_nos" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TicketInfoMap">
        select
          id, ticket_serial, ticket_no, ticket_price, carriage_no, seat_no, seat_class, sms, ticket_password, ticket_verify_code, ticket_order_num, ticket_phone, checkin_nos
        from union_order.ticket_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TicketInfoMap">
        select
          id, ticket_serial, ticket_no, ticket_price, carriage_no, seat_no, seat_class, sms, ticket_password, ticket_verify_code, ticket_order_num, ticket_phone, checkin_nos
        from union_order.ticket_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TicketInfoMap">
        select
          id, ticket_serial, ticket_no, ticket_price, carriage_no, seat_no, seat_class, sms, ticket_password, ticket_verify_code, ticket_order_num, ticket_phone, checkin_nos
        from union_order.ticket_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="ticketSerial != null and ticketSerial != ''">
                and ticket_serial = #{ticketSerial}
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                and ticket_no = #{ticketNo}
            </if>
            <if test="ticketPrice != null">
                and ticket_price = #{ticketPrice}
            </if>
            <if test="carriageNo != null and carriageNo != ''">
                and carriage_no = #{carriageNo}
            </if>
            <if test="seatNo != null and seatNo != ''">
                and seat_no = #{seatNo}
            </if>
            <if test="seatClass != null">
                and seat_class = #{seatClass}
            </if>
            <if test="sms != null and sms != ''">
                and sms = #{sms}
            </if>
            <if test="ticketPassword != null and ticketPassword != ''">
                and ticket_password = #{ticketPassword}
            </if>
            <if test="ticketVerifyCode != null and ticketVerifyCode != ''">
                and ticket_verify_code = #{ticketVerifyCode}
            </if>
            <if test="ticketOrderNum != null and ticketOrderNum != ''">
                and ticket_order_num = #{ticketOrderNum}
            </if>
            <if test="ticketPhone != null and ticketPhone != ''">
                and ticket_phone = #{ticketPhone}
            </if>
            <if test="checkinNos != null and checkinNos != ''">
                and checkin_nos = #{checkinNos}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.ticket_info(ticket_serial, ticket_no, ticket_price, carriage_no, seat_no, seat_class, sms, ticket_password, ticket_verify_code, ticket_order_num, ticket_phone, checkin_nos)
        values (#{ticketSerial}, #{ticketNo}, #{ticketPrice}, #{carriageNo}, #{seatNo}, #{seatClass}, #{sms}, #{ticketPassword}, #{ticketVerifyCode}, #{ticketOrderNum}, #{ticketPhone}, #{checkinNos})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.ticket_info
        <set>
            <if test="ticketSerial != null and ticketSerial != ''">
                ticket_serial = #{ticketSerial},
            </if>
            <if test="ticketNo != null and ticketNo != ''">
                ticket_no = #{ticketNo},
            </if>
            <if test="ticketPrice != null">
                ticket_price = #{ticketPrice},
            </if>
            <if test="carriageNo != null and carriageNo != ''">
                carriage_no = #{carriageNo},
            </if>
            <if test="seatNo != null and seatNo != ''">
                seat_no = #{seatNo},
            </if>
            <if test="seatClass != null">
                seat_class = #{seatClass},
            </if>
            <if test="sms != null and sms != ''">
                sms = #{sms},
            </if>
            <if test="ticketPassword != null and ticketPassword != ''">
                ticket_password = #{ticketPassword},
            </if>
            <if test="ticketVerifyCode != null and ticketVerifyCode != ''">
                ticket_verify_code = #{ticketVerifyCode},
            </if>
            <if test="ticketOrderNum != null and ticketOrderNum != ''">
                ticket_order_num = #{ticketOrderNum},
            </if>
            <if test="ticketPhone != null and ticketPhone != ''">
                ticket_phone = #{ticketPhone},
            </if>
            <if test="checkinNos != null and checkinNos != ''">
                checkin_nos = #{checkinNos},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.ticket_info where id = #{id}
    </delete>

</mapper>
