<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.TripOrderInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.TripOrderInfoPO" id="TripOrderInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mainOrderNo" column="main_order_no" jdbcType="VARCHAR"/>
        <result property="tripOrderNo" column="trip_order_no" jdbcType="VARCHAR"/>
        <result property="tripSerial" column="trip_serial" jdbcType="VARCHAR"/>
        <result property="indexNo" column="index_no" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="INTEGER"/>
        <result property="payStatus" column="pay_status" jdbcType="INTEGER"/>
        <result property="orderStatus" column="order_status" jdbcType="INTEGER"/>
        <result property="travelFlag" column="travel_flag" jdbcType="INTEGER"/>
        <result property="ticketUnitPrice" column="ticket_unit_price" jdbcType="NUMERIC"/>
        <result property="ticketTotalPrice" column="ticket_total_price" jdbcType="NUMERIC"/>
        <result property="serviceUnitPrice" column="service_unit_price" jdbcType="NUMERIC"/>
        <result property="serviceTotalPrice" column="service_total_price" jdbcType="NUMERIC"/>
        <result property="supplierId" column="supplier_id" jdbcType="VARCHAR"/>
        <result property="unionPay" column="union_pay" jdbcType="INTEGER"/>
        <result property="withHoldStatus" column="with_hold_status" jdbcType="INTEGER"/>
        <result property="withHoldFailReason" column="with_hold_fail_reason" jdbcType="VARCHAR"/>
        <result property="applyPlaceTime" column="apply_place_time" jdbcType="TIMESTAMP"/>
        <result property="placeCallbackTime" column="place_callback_time" jdbcType="TIMESTAMP"/>
        <result property="applyIssueTime" column="apply_issue_time" jdbcType="TIMESTAMP"/>
        <result property="issueTime" column="issue_time" jdbcType="TIMESTAMP"/>
        <result property="rejectApplyRemark" column="reject_apply_remark" jdbcType="VARCHAR"/>
        <result property="extendContent" column="extend_content" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TripOrderInfoMap">
        select
          id, main_order_no, trip_order_no, trip_serial, index_no, order_type, pay_status, order_status, travel_flag, ticket_unit_price, ticket_total_price, service_unit_price, service_total_price, supplier_id, union_pay, with_hold_status, with_hold_fail_reason, apply_place_time, place_callback_time, apply_issue_time, issue_time, reject_apply_remark, extend_content, create_date, create_user, update_date, update_user
        from union_order.trip_order_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TripOrderInfoMap">
        select
          id, main_order_no, trip_order_no, trip_serial, index_no, order_type, pay_status, order_status, travel_flag, ticket_unit_price, ticket_total_price, service_unit_price, service_total_price, supplier_id, union_pay, with_hold_status, with_hold_fail_reason, apply_place_time, place_callback_time, apply_issue_time, issue_time, reject_apply_remark, extend_content, create_date, create_user, update_date, update_user
        from union_order.trip_order_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TripOrderInfoMap">
        select
          id, main_order_no, trip_order_no, trip_serial, index_no, order_type, pay_status, order_status, travel_flag, ticket_unit_price, ticket_total_price, service_unit_price, service_total_price, supplier_id, union_pay, with_hold_status, with_hold_fail_reason, apply_place_time, place_callback_time, apply_issue_time, issue_time, reject_apply_remark, extend_content, create_date, create_user, update_date, update_user
        from union_order.trip_order_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                and main_order_no = #{mainOrderNo}
            </if>
            <if test="tripOrderNo != null and tripOrderNo != ''">
                and trip_order_no = #{tripOrderNo}
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                and trip_serial = #{tripSerial}
            </if>
            <if test="indexNo != null">
                and index_no = #{indexNo}
            </if>
            <if test="orderType != null">
                and order_type = #{orderType}
            </if>
            <if test="payStatus != null">
                and pay_status = #{payStatus}
            </if>
            <if test="orderStatus != null">
                and order_status = #{orderStatus}
            </if>
            <if test="travelFlag != null">
                and travel_flag = #{travelFlag}
            </if>
            <if test="ticketUnitPrice != null">
                and ticket_unit_price = #{ticketUnitPrice}
            </if>
            <if test="ticketTotalPrice != null">
                and ticket_total_price = #{ticketTotalPrice}
            </if>
            <if test="serviceUnitPrice != null">
                and service_unit_price = #{serviceUnitPrice}
            </if>
            <if test="serviceTotalPrice != null">
                and service_total_price = #{serviceTotalPrice}
            </if>
            <if test="supplierId != null and supplierId != ''">
                and supplier_id = #{supplierId}
            </if>
            <if test="unionPay != null">
                and union_pay = #{unionPay}
            </if>
            <if test="withHoldStatus != null">
                and with_hold_status = #{withHoldStatus}
            </if>
            <if test="withHoldFailReason != null and withHoldFailReason != ''">
                and with_hold_fail_reason = #{withHoldFailReason}
            </if>
            <if test="applyPlaceTime != null">
                and apply_place_time = #{applyPlaceTime}
            </if>
            <if test="placeCallbackTime != null">
                and place_callback_time = #{placeCallbackTime}
            </if>
            <if test="applyIssueTime != null">
                and apply_issue_time = #{applyIssueTime}
            </if>
            <if test="issueTime != null">
                and issue_time = #{issueTime}
            </if>
            <if test="rejectApplyRemark != null and rejectApplyRemark != ''">
                and reject_apply_remark = #{rejectApplyRemark}
            </if>
            <if test="extendContent != null and extendContent != ''">
                and extend_content = #{extendContent}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into union_order.trip_order_info(main_order_no, trip_order_no, trip_serial, index_no, order_type, pay_status, order_status, travel_flag, ticket_unit_price, ticket_total_price, service_unit_price, service_total_price, supplier_id, union_pay, with_hold_status, with_hold_fail_reason, apply_place_time, place_callback_time, apply_issue_time, issue_time, reject_apply_remark, extend_content, create_date, create_user, update_date, update_user)
        values (#{mainOrderNo}, #{tripOrderNo}, #{tripSerial}, #{indexNo}, #{orderType}, #{payStatus}, #{orderStatus}, #{travelFlag}, #{ticketUnitPrice}, #{ticketTotalPrice}, #{serviceUnitPrice}, #{serviceTotalPrice}, #{supplierId}, #{unionPay}, #{withHoldStatus}, #{withHoldFailReason}, #{applyPlaceTime}, #{placeCallbackTime}, #{applyIssueTime}, #{issueTime}, #{rejectApplyRemark}, #{extendContent}, #{createDate}, #{createUser}, #{updateDate}, #{updateUser})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.trip_order_info
        <set>
            <if test="mainOrderNo != null and mainOrderNo != ''">
                main_order_no = #{mainOrderNo},
            </if>
            <if test="tripOrderNo != null and tripOrderNo != ''">
                trip_order_no = #{tripOrderNo},
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial = #{tripSerial},
            </if>
            <if test="indexNo != null">
                index_no = #{indexNo},
            </if>
            <if test="orderType != null">
                order_type = #{orderType},
            </if>
            <if test="payStatus != null">
                pay_status = #{payStatus},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="travelFlag != null">
                travel_flag = #{travelFlag},
            </if>
            <if test="ticketUnitPrice != null">
                ticket_unit_price = #{ticketUnitPrice},
            </if>
            <if test="ticketTotalPrice != null">
                ticket_total_price = #{ticketTotalPrice},
            </if>
            <if test="serviceUnitPrice != null">
                service_unit_price = #{serviceUnitPrice},
            </if>
            <if test="serviceTotalPrice != null">
                service_total_price = #{serviceTotalPrice},
            </if>
            <if test="supplierId != null and supplierId != ''">
                supplier_id = #{supplierId},
            </if>
            <if test="unionPay != null">
                union_pay = #{unionPay},
            </if>
            <if test="withHoldStatus != null">
                with_hold_status = #{withHoldStatus},
            </if>
            <if test="withHoldFailReason != null and withHoldFailReason != ''">
                with_hold_fail_reason = #{withHoldFailReason},
            </if>
            <if test="applyPlaceTime != null">
                apply_place_time = #{applyPlaceTime},
            </if>
            <if test="placeCallbackTime != null">
                place_callback_time = #{placeCallbackTime},
            </if>
            <if test="applyIssueTime != null">
                apply_issue_time = #{applyIssueTime},
            </if>
            <if test="issueTime != null">
                issue_time = #{issueTime},
            </if>
            <if test="rejectApplyRemark != null and rejectApplyRemark != ''">
                reject_apply_remark = #{rejectApplyRemark},
            </if>
            <if test="extendContent != null and extendContent != ''">
                extend_content = #{extendContent},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.trip_order_info where id = #{id}
    </delete>

</mapper>
