<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.traffic.middleplatform.domain.order.repository.mapper.TripPassengerOrderInfoMapper">

    <resultMap type="com.ly.traffic.middleplatform.domain.order.repository.po.TripPassengerOrderInfoPO" id="TripPassengerOrderInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="mainOrderInfo" column="main_order_info" jdbcType="VARCHAR"/>
        <result property="tripOrderNo" column="trip_order_no" jdbcType="VARCHAR"/>
        <result property="passengerOrderNo" column="passenger_order_no" jdbcType="VARCHAR"/>
        <result property="tripSerial" column="trip_serial" jdbcType="VARCHAR"/>
        <result property="ticketFlag" column="ticket_flag" jdbcType="INTEGER"/>
        <result property="passengerSerialNo" column="passenger_serial_no" jdbcType="VARCHAR"/>
        <result property="passengerName" column="passenger_name" jdbcType="VARCHAR"/>
        <result property="passengerType" column="passenger_type" jdbcType="INTEGER"/>
        <result property="certificateType" column="certificate_type" jdbcType="INTEGER"/>
        <result property="certificateNo" column="certificate_no" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="ticketSerial" column="ticket_serial" jdbcType="VARCHAR"/>
        <result property="ticketSummary" column="ticket_summary" jdbcType="VARCHAR"/>
        <result property="refundStatus" column="refund_status" jdbcType="VARCHAR"/>
        <result property="isChangeTicket" column="is_change_ticket" jdbcType="INTEGER"/>
        <result property="orderChangeType" column="order_change_type" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="TripPassengerOrderInfoMap">
        select
          id, main_order_info, trip_order_no, passenger_order_no, trip_serial, ticket_flag, passenger_serial_no, passenger_name, passenger_type, certificate_type, certificate_no, sex, ticket_serial, ticket_summary, refund_status, is_change_ticket, order_change_type, create_date, create_user, update_date, update_user
        from union_order.trip_passenger_order_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TripPassengerOrderInfoMap">
        select
          id, main_order_info, trip_order_no, passenger_order_no, trip_serial, ticket_flag, passenger_serial_no, passenger_name, passenger_type, certificate_type, certificate_no, sex, ticket_serial, ticket_summary, refund_status, is_change_ticket, order_change_type, create_date, create_user, update_date, update_user
        from union_order.trip_passenger_order_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TripPassengerOrderInfoMap">
        select
          id, main_order_info, trip_order_no, passenger_order_no, trip_serial, ticket_flag, passenger_serial_no, passenger_name, passenger_type, certificate_type, certificate_no, sex, ticket_serial, ticket_summary, refund_status, is_change_ticket, order_change_type, create_date, create_user, update_date, update_user
        from union_order.trip_passenger_order_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="mainOrderInfo != null and mainOrderInfo != ''">
                and main_order_info = #{mainOrderInfo}
            </if>
            <if test="tripOrderNo != null and tripOrderNo != ''">
                and trip_order_no = #{tripOrderNo}
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                and passenger_order_no = #{passengerOrderNo}
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                and trip_serial = #{tripSerial}
            </if>
            <if test="ticketFlag != null">
                and ticket_flag = #{ticketFlag}
            </if>
            <if test="passengerSerialNo != null and passengerSerialNo != ''">
                and passenger_serial_no = #{passengerSerialNo}
            </if>
            <if test="passengerName != null and passengerName != ''">
                and passenger_name = #{passengerName}
            </if>
            <if test="passengerType != null">
                and passenger_type = #{passengerType}
            </if>
            <if test="certificateType != null">
                and certificate_type = #{certificateType}
            </if>
            <if test="certificateNo != null and certificateNo != ''">
                and certificate_no = #{certificateNo}
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="ticketSerial != null and ticketSerial != ''">
                and ticket_serial = #{ticketSerial}
            </if>
            <if test="ticketSummary != null and ticketSummary != ''">
                and ticket_summary = #{ticketSummary}
            </if>
            <if test="refundStatus != null and refundStatus != ''">
                and refund_status = #{refundStatus}
            </if>
            <if test="isChangeTicket != null">
                and is_change_ticket = #{isChangeTicket}
            </if>
            <if test="orderChangeType != null">
                and order_change_type = #{orderChangeType}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="createUser != null and createUser != ''">
                and create_user = #{createUser}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="updateUser != null and updateUser != ''">
                and update_user = #{updateUser}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        <trim prefix="(" suffix=")" suffixOverrides=",">

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update union_order.trip_passenger_order_info
        <set>
            <if test="mainOrderInfo != null and mainOrderInfo != ''">
                main_order_info = #{mainOrderInfo},
            </if>
            <if test="tripOrderNo != null and tripOrderNo != ''">
                trip_order_no = #{tripOrderNo},
            </if>
            <if test="passengerOrderNo != null and passengerOrderNo != ''">
                passenger_order_no = #{passengerOrderNo},
            </if>
            <if test="tripSerial != null and tripSerial != ''">
                trip_serial = #{tripSerial},
            </if>
            <if test="ticketFlag != null">
                ticket_flag = #{ticketFlag},
            </if>
            <if test="passengerSerialNo != null and passengerSerialNo != ''">
                passenger_serial_no = #{passengerSerialNo},
            </if>
            <if test="passengerName != null and passengerName != ''">
                passenger_name = #{passengerName},
            </if>
            <if test="passengerType != null">
                passenger_type = #{passengerType},
            </if>
            <if test="certificateType != null">
                certificate_type = #{certificateType},
            </if>
            <if test="certificateNo != null and certificateNo != ''">
                certificate_no = #{certificateNo},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="ticketSerial != null and ticketSerial != ''">
                ticket_serial = #{ticketSerial},
            </if>
            <if test="ticketSummary != null and ticketSummary != ''">
                ticket_summary = #{ticketSummary},
            </if>
            <if test="refundStatus != null and refundStatus != ''">
                refund_status = #{refundStatus},
            </if>
            <if test="isChangeTicket != null">
                is_change_ticket = #{isChangeTicket},
            </if>
            <if test="orderChangeType != null">
                order_change_type = #{orderChangeType},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="createUser != null and createUser != ''">
                create_user = #{createUser},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="updateUser != null and updateUser != ''">
                update_user = #{updateUser},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from union_order.trip_passenger_order_info where id = #{id}
    </delete>

</mapper>
